{% extends "layout.html" %}
{% block body %}

<div class="Modern-Slider">
    <!-- Slide 1 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_01.jpg')}}" alt="">
        </div>
    </div>
    <!-- // Slide 1 -->
    <!-- Slide 2 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_02.jpg')}}" alt="">
        </div>
    </div>
    <!-- // Slide 2 -->
    <!-- Slide 3 -->
    <div class="item">
        <div class="img-fill">
            <img src="{{url_for('static', filename = 'images/main_slide_03.jpg')}}" alt="">
        </div>
    </div>
    <!-- // Slide 3 -->
</div>


<section class="top-slider-features wow fadeIn" data-wow-duration="1.5s">
    <div class="container" style="margin-top: -500px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-light text-lg-center">Edit Slider Cars</h1>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-light">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-light">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark text-lg-center">Edit Display Car</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-dark">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark text-lg-center">Edit Recent carrs</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-dark">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark text-lg-center">Edit Gallery Cars</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-dark">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>
                            <button class="btn btn-dark">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-dark">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}